@import "tailwindcss";

body{
    font-family: 'Nanum Myeongjo', serif;
}
@font-face {
  font-family: 'Integral CF Heavy';
  src: url('/fonts/IntegralCF-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
.integral-font {
  font-family: 'Integral CF Heavy', sans-serif;
}
h2{
    font-family: 'Anton', sans-serif;
}

.footerbg{
    background-image: url('./assets/footerbg.png');
    background-color: #54625A;
}
#about{
    background-image: url('./assets/lightbg.png');
}
#works{
    background-image: url('./assets/footerbg.png');
    background-color: #54625A;

}
.custom-tight {
  letter-spacing: -13px;
}
