@import "tailwindcss";

body{
    font-family: 'Nanum Myeongjo', serif;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Integral CF Heavy';
  src: url('/fonts/IntegralCF-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
.integral-font {
  font-family: 'Integral CF Heavy', sans-serif;
}
h2{
    font-family: 'Anton', sans-serif;
}

.footerbg{
    background-image: url('./assets/footerbg.png');
    background-color: #54625A;
}
#about{
    background-image: url('./assets/lightbg.png');
}
#works{
    background-image: url('./assets/footerbg.png');
    background-color: #54625A;

}
.custom-tight {
  letter-spacing: -13px;
}
.custom-untight {
  letter-spacing: 0.1px;
}

 @keyframes scroll {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
      }


@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 2.5s ease-in forwards;
}
